.ArticlesList {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0px;
  margin: 0px;
  flex-wrap: wrap;
  gap: 50px;

  @media screen and (min-width: 768px) {
    width: 1440px;
    gap: 0px;
      
  }


  &__item{
    max-width: 250px;
    max-height: 250px;
    margin-bottom: 10px;
    
    @media screen and (min-width: 468px) {
      max-width: 450px;
      max-height: 321px;
      flex-direction: row;
      justify-content: space-arround;
      
      }

      @media screen and (min-width: 768px) {
        width: 525px;
        height: 321px;
        margin-right: 100px;
        margin-left: 100px;
        margin-bottom: 60px;
        flex-direction: row;
        
        
        :nth-child(1n) {
            
            margin-right: 190px;
          }
          
      }

  }

  
    
}
  

  